<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Questions</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/navbar :: navbar"></div>
    <table class="table thead-dark col-6 col-sm-4">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <th:block th:each="question : ${questions}">
            <tr>
                <td th:text="${question.id}"></td>
                <td th:text="${question.title}"></td>
                <td><a th:href="@{|/questions/edit/${question.id}|}" class="btn btn-primary">Edytuj</a></td>
                <td><a th:href="@{|/questions/remove/${question.id}|}" class="btn btn-danger">Usun</a></td>
            </tr>
            </th:block>
        </tbody>
    </table>
<!--<form action="/questions/add" method="post">-->
    <!--<@spring.bind "question" />-->
    <!--<div class="form-group">-->
        <!--Tytuł:-->
        <!--<@spring.formInput "question.title"/>-->
        <!--<button type="submit" class="btn btn-success">Dodaj pytanie</button>-->
    <!--</div>-->
<!--</form>-->
</div>
</body>
</html>