<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Question</title>
</head>
<div class="container">
    <div th:replace="fragments/navbar :: navbar"></div>
    <form action="#" th:action="@{/questions/edit}" th:object="${question}" method="post">
        <div class="form-group">
            <input type="hidden" th:field="*{id}"/>
            <p>Title: <input type="text" th:field="*{title}"/></p>
            <button type="submit" class="btn btn-success">Zapisz</button>
        </div>
    </form>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>